{% extends 'goods/main.html' %}

{% load static %}

{% block title %}
    {{ good.name }}
{% endblock %}

{% block content %}

    <h1>Детальная</h1>
    <div class="container">
        <form method="post" action="{% url 'goods:order' id=good.id %}">
            {% csrf_token %}
            <div class="product-detail card">
                <h3 class="product-detail__title">{{ good.name }}</h3>

                <dl>
                    <dt>Краткое описание:</dt>
                    <dd>{{ good.preview_description }}</dd>
                    <dt>Описание:</dt>
                    <dd>{{ good.description }}</dd>
                </dl>

                <div class="product-detail__price price"><p class="gheymat">Цена: {{ good.price }}руб.</p></div>
                <input type="submit" value="Купить"/>
            </div>

        </form>
    </div>

{% endblock %}