{% extends 'goods/main.html' %}
{% load static %}

{% block title %}
    Новый продукт
{% endblock %}

{% block content %}
    <h1>Новый продукт</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="save btn btn-default">Сохранить</button>

        {% if good %}
            <a href="{% url 'goods:good_del' id=good.id %}" class="btn btn-danger">Удалить</a>
        {% endif %}

        <a href="/" class="btn btn-default">Отменить</a>

    </form>
{% endblock %}