{% extends 'goods/main.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="main" class="product_list">
        <h2>{{ title_list }}:</h2>
        <hr size="30">

        <div class="masonry">
            {% if goods %}
                {% for good in goods %}
                    <div class="item">
                        <ul class="list-unstyled">

                            {% if user.is_superuser %}
                                <li>
                                    <a href="{% url 'goods:good_edit' id=good.id %}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                </li>

                            {% endif %}

                            <li><img src="http://placehold.it/350x350&text={{ good.name }}"></li>
                            <li>{{ good.preview_description }}</li>
                            <li><strong>Цена: {{ good.price }}руб.</strong></li>
                            <li><a href="{% url 'goods:good_detail' id=good.id %}">Подробнее »</a></li>
                        </ul>
                    </div>
                {% empty %}
                    <p>Нет товаров</p>
                {% endfor %}

            {% endif %}
        </div>

        {% if orders and user.is_superuser %}

            {% for order in orders %}
                <p>
                    <ul class="list-unstyled">
                        <li><h3>{{ order }}</h3></li>
                        <li>Товар: {{ order.good }}</li>
                        <li>Клиент: {{ order.user }}</li>
                        <li>Сумма: {{ order.total }} </li>
                    </ul>
                </p>

            {% empty %}
                <p>Нет заказов</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
