{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="container-fluid">

    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static "img/logo.png" %}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Продукты</a></li>
                    {% if user.is_superuser %}
                        <li><a href="{% url 'goods:order_list' %}">Заказы</a></li>
                        <li><a href="/admin/">Администрирование</a></li>
                        <li><a class="btn btn-primary" href="{% url 'goods:good_new' %}" role="button">Добавить
                            продукт</a></li>
                        <li><a href="{% url 'goods:logout' %}">Выйти</a></li>
                    {% else %}
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'goods:logout' %}"><strong>{{ user.username }}</strong></a>
                            </li>
                        {% else %}
                            <li>
                                <a class="btn btn-default btn-outline btn-circle collapsed" data-toggle="collapse"
                                   href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2">Войти</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% if not user.is_superuser %}
                    {% if not user.is_authenticated %}
                        <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse2">
                            <form class="navbar-form navbar-right form-inline" role="form"
                                  action="{% url 'goods:login' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="sr-only" for="Login">Имя пользователя</label>
                                    <input type="text" name="username" class="form-control" id="Login"
                                           placeholder="Login" autofocus
                                           required/>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="Password">Пароль</label>
                                    <input type="password" name="password" class="form-control" id="Password"
                                           placeholder="Password"
                                           required/>
                                </div>
                                {#                                <button type="submit" class="btn btn-success">Войти</button>#}
                                <input type="submit" class="btn btn-success" value="Войти">
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

</div>

<section id="content row" class="container">
    {% block content %}{% endblock %}
</section>

</body>

<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{# <script src="{% static "js/script.js" %}"></script> #}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>